<% provide :title, "DM" %>

<h1>Direct Messages</h1>

<%= will_paginate @target_users %>

<ul class="users">
  <% @target_users.each do |user| %>
    <%= render "direct_messages/user", user: user %>
  <% end %>
</ul>

<%= will_paginate @target_users %>
